---

---

<div>
  <p class="text-base md:text-lg">
    Benvenuti al Koala Pub, un'istituzione a Siracusa dal 1995! 🍻 Siamo il
    punto di riferimento per chi cerca buon cibo, ottime birre e un’atmosfera
    accogliente. Siamo più di un semplice pub: siamo un luogo dove le persone si
    ritrovano, si... raccontano e si godono piatti preparati con passione,
    accompagnati da una selezione di birre artigianali e cocktail unici. La
    Nostra Filosofia Gusto e Qualità: Selezioniamo ingredienti freschi e genuini
    per preparare hamburger, pizze, panini e piatti unici che conquistano al
    primo morso. Passione per le Birre: Amiamo le birre artigianali e abbiamo
    una selezione che spazia dalle classiche alle più ricercate. Atmosfera
    Unica: Il Koala Pub è il luogo perfetto per una serata tra amici, una cena
    in famiglia o un drink dopo il lavoro. Un'Esperienza da Provare Dal 1995, il
    nostro obiettivo è sempre stato lo stesso: offrire un’esperienza
    indimenticabile fatta di sapore, musica e divertimento. Che tu voglia
    goderti una serata rilassante o festeggiare con gli amici, il Koala Pub è
    sempre la scelta giusta!
  </p>
</div>
<style>
  div {
    background-color: rgba(1, 56, 1, 0.631);
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  p {
    width: 100%;
    max-height: 100%;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
